<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReactNativeIntegrating.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE7115871C2B94FE00099D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE7115A31C2B94FE00099D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE7115AE1C2B94FE00099D94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
